- content_for :page_title do
  = t('admin.gamepatch.payments.payments_title')

- content_for :heading_actions do
  = form_tag admin_gamepatch_payments_payments_path, method: :get, class: 'simple_form' do
    .fields-row
      .fields-row__column
        = select_tag :status, options_for_select([['All Statuses', ''], ['Paid', 'paid'], ['Open', 'open'], ['Pending', 'pending'], ['Failed', 'failed'], ['Cancelled', 'cancelled'], ['Expired', 'expired'], ['Refunded', 'refunded']], params[:status])
      .fields-row__column
        = select_tag :payment_method, options_for_select([['All Methods', ''], ['iDEAL', 'ideal'], ['Credit Card', 'creditcard'], ['PayPal', 'paypal'], ['Bancontact', 'bancontact'], ['SOFORT', 'sofort']], params[:payment_method])
      .fields-row__column
        = button_tag t('admin.gamepatch.payments.filter'), type: 'submit', class: 'button'

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('admin.gamepatch.payments.id')
        %th= t('admin.gamepatch.payments.account')
        %th= t('admin.gamepatch.payments.mollie_id')
        %th= t('admin.gamepatch.payments.status')
        %th= t('admin.gamepatch.payments.amount')
        %th= t('admin.gamepatch.payments.method')
        %th= t('admin.gamepatch.payments.paid_at')
        %th
    %tbody
      - @payments.each do |payment|
        %tr
          %td= payment.id
          %td
            - if payment.account
              = link_to payment.account.username, admin_account_path(payment.account_id)
            - else
              %em N/A
          %td
            %code= truncate(payment.mollie_payment_id, length: 15)
          %td
            %span.indicator-icon{ class: payment.paid? ? 'success' : (payment.failed? ? 'failure' : nil) }
            = payment.status
          %td= number_to_currency(payment.amount, unit: "\u20AC")
          %td= payment.payment_method || '-'
          %td
            - if payment.paid_at
              = l(payment.paid_at, format: :short)
            - else
              \-
          %td
            = link_to t('admin.gamepatch.payments.view'), admin_gamepatch_payments_payment_path(payment), class: 'button button-secondary'

= paginate @payments
