- content_for :page_title do
  = t('admin.gamepatch.payments.subscription_details')

- content_for :heading_actions do
  .actions
    = link_to t('admin.gamepatch.payments.back_to_subscriptions'), admin_gamepatch_payments_subscriptions_path, class: 'button button-secondary'
    - if @subscription.active?
      = link_to t('admin.gamepatch.payments.cancel_subscription'), admin_gamepatch_payments_cancel_subscription_path(@subscription), method: :post, data: { confirm: t('admin.gamepatch.payments.confirm_cancel') }, class: 'button button--destructive'

.simple_form
  %h3= t('admin.gamepatch.payments.subscription_info')

  .fields-group
    .input
      %label= t('admin.gamepatch.payments.id')
      .value= @subscription.id

    .input
      %label= t('admin.gamepatch.payments.account')
      .value
        - if @subscription.account
          = link_to @subscription.account.username, admin_account_path(@subscription.account_id)
          - if @subscription.account.display_name.present?
            %span.muted= "(#{@subscription.account.display_name})"
        - else
          %em N/A

    .input
      %label= t('admin.gamepatch.payments.tier')
      .value
        - tier_config = Gamepatch::MollieService::TIERS[@subscription.tier]
        = tier_config&.dig(:badge)
        = tier_config&.dig(:name) || @subscription.tier.titleize

    .input
      %label= t('admin.gamepatch.payments.status')
      .value
        %span.indicator-icon{ class: if @subscription.active?
                                       'success'
                                     else
                                       (@subscription.cancelled? ? 'failure' : nil)
        end }
        = @subscription.status.titleize

    .input
      %label= t('admin.gamepatch.payments.amount')
      .value= "#{number_to_currency(@subscription.amount, unit: "\u20AC")} / #{t('admin.gamepatch.payments.month')}"

    .input
      %label= t('admin.gamepatch.payments.mollie_customer_id')
      .value
        %code= @subscription.mollie_customer_id || '-'

    .input
      %label= t('admin.gamepatch.payments.mollie_subscription_id')
      .value
        %code= @subscription.mollie_subscription_id || '-'

    .input
      %label= t('admin.gamepatch.payments.current_period')
      .value
        - if @subscription.current_period_start && @subscription.current_period_end
          = "#{l(@subscription.current_period_start, format: :short)} - #{l(@subscription.current_period_end, format: :short)}"
          - if @subscription.current_period_active?
            %span.positive= "(#{@subscription.days_remaining} #{t('admin.gamepatch.payments.days_remaining')})"
        - else
          \-

    - if @subscription.cancelled_at
      .input
        %label= t('admin.gamepatch.payments.cancelled_at')
        .value= l(@subscription.cancelled_at)

    .input
      %label= t('admin.gamepatch.payments.created')
      .value= l(@subscription.created_at)

%hr.spacer

%h3= t('admin.gamepatch.payments.tier_features')

%ul
  - tier_config = Gamepatch::MollieService::TIERS[@subscription.tier]
  - (tier_config&.dig(:features) || []).each do |feature|
    %li= feature.titleize.tr('_', ' ')

%hr.spacer

%h3= t('admin.gamepatch.payments.payment_history')

.table-wrapper
  %table.table
    %thead
      %tr
        %th= t('admin.gamepatch.payments.payment_id')
        %th= t('admin.gamepatch.payments.status')
        %th= t('admin.gamepatch.payments.amount')
        %th= t('admin.gamepatch.payments.method')
        %th= t('admin.gamepatch.payments.paid_at')
        %th
    %tbody
      - @subscription.payments.order(created_at: :desc).each do |payment|
        %tr
          %td
            %code= truncate(payment.mollie_payment_id, length: 20)
          %td
            %span.indicator-icon{ class: if payment.paid?
                                           'success'
                                         else
                                           (payment.failed? ? 'failure' : nil)
            end }
            = payment.status
          %td= number_to_currency(payment.amount, unit: "\u20AC")
          %td= payment.payment_method || '-'
          %td
            - if payment.paid_at
              = l(payment.paid_at, format: :short)
            - else
              \-
          %td
            = link_to t('admin.gamepatch.payments.view'), admin_gamepatch_payments_payment_path(payment), class: 'button button-secondary'
