- content_for :page_title do
  = t('admin.gamepatch.analytics.title')

- content_for :heading_actions do
  = form_tag admin_gamepatch_analytics_index_path, method: :get, class: 'simple_form' do
    .fields-row
      .fields-row__column
        = date_field_tag :start_date, params[:start_date] || 30.days.ago.to_date
      .fields-row__column
        = date_field_tag :end_date, params[:end_date] || Date.current
      .fields-row__column
        = button_tag t('admin.gamepatch.analytics.apply'), type: 'submit', class: 'button'

.dashboard
  .dashboard__item
    .dashboard__quick-access.dashboard__quick-access--yellow
      %span= t('admin.gamepatch.analytics.total_widgets')
      %strong= @overview[:total_widgets]

  .dashboard__item
    .dashboard__quick-access.dashboard__quick-access--yellow
      %span= t('admin.gamepatch.analytics.responses')
      %strong= @overview[:total_responses]

  .dashboard__item
    .dashboard__quick-access.dashboard__quick-access--yellow
      %span= t('admin.gamepatch.analytics.impressions')
      %strong= @overview[:total_impressions]

  .dashboard__item
    .dashboard__quick-access.dashboard__quick-access--yellow
      %span= t('admin.gamepatch.analytics.response_rate')
      %strong= "#{@overview[:response_rate]}%"

  .dashboard__item
    .dashboard__quick-access.dashboard__quick-access--yellow
      %span= t('admin.gamepatch.analytics.unique_responders')
      %strong= @overview[:unique_responders]

  .dashboard__item
    .dashboard__quick-access.dashboard__quick-access--yellow
      %span= t('admin.gamepatch.analytics.unique_visitors')
      %strong= @overview[:unique_visitors]

%hr.spacer

%h3= t('admin.gamepatch.analytics.widget_distribution')

.simple_form
  - @widget_type_distribution.each do |type, count|
    .batch-table__row
      .batch-table__row__content
        %span.batch-table__row__content__extra= type
        %span.batch-table__row__content__text= count

%hr.spacer

%h3= t('admin.gamepatch.analytics.export_data')

.actions
  = link_to t('admin.gamepatch.analytics.export_widgets'), admin_gamepatch_export_analytics_index_path(export_type: 'widgets', format: 'csv'), class: 'button button-secondary'
  = link_to t('admin.gamepatch.analytics.export_responses'), admin_gamepatch_export_analytics_index_path(export_type: 'responses', format: 'csv'), class: 'button button-secondary'
  = link_to t('admin.gamepatch.analytics.export_impressions'), admin_gamepatch_export_analytics_index_path(export_type: 'impressions', format: 'csv'), class: 'button button-secondary'
