- content_for :page_title do
  = t('admin.gamepatch.analytics.responses_title')

- content_for :heading_actions do
  - widget_type_options = [
    [t('admin.gamepatch.analytics.select_type'), ''],
    ['Slider', 'slider'],
    ['Stars', 'stars'],
    ['Quiz', 'quiz'],
    ['Ranking', 'ranking'],
    ['Buttons', 'buttons'],
    ['Dropdown', 'dropdown'],
    ['Emoji', 'emoji'],
  ]

  = form_tag admin_gamepatch_responses_analytics_index_path, method: :get, class: 'simple_form' do
    .fields-row
      .fields-row__column
        = date_field_tag :start_date, params[:start_date] || 30.days.ago.to_date
      .fields-row__column
        = date_field_tag :end_date, params[:end_date] || Date.current
      .fields-row__column
        = select_tag :widget_type, options_for_select(widget_type_options, @widget_type)
      .fields-row__column
        = button_tag t('admin.gamepatch.analytics.view'), type: 'submit', class: 'button'

- if @widget_type.blank?
  %p.hint= t('admin.gamepatch.analytics.select_type_hint')

- elsif @aggregations.empty?
  %p.hint= t('admin.gamepatch.analytics.no_responses', type: @widget_type)

- else
  - case @widget_type
  - when 'slider'
    %h3= t('admin.gamepatch.analytics.slider_responses')
    - @aggregations.each do |agg|
      .batch-table__wrapper
        %h4
          %code= agg[:uid]
          = agg[:prompt]

        .dashboard
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.responses')
              %strong= agg[:response_count]
          .dashboard__item
            .dashboard__quick-access.dashboard__quick-access--yellow
              %span= t('admin.gamepatch.analytics.average')
              %strong= agg[:average]
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.median')
              %strong= agg[:median]
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.range')
              %strong #{agg[:min]} - #{agg[:max]}

  - when 'stars'
    %h3= t('admin.gamepatch.analytics.star_ratings')
    - @aggregations.each do |agg|
      .batch-table__wrapper
        %h4
          %code= agg[:uid]
          = agg[:prompt]

        .dashboard
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.responses')
              %strong= agg[:response_count]
          .dashboard__item
            .dashboard__quick-access.dashboard__quick-access--yellow
              %span= t('admin.gamepatch.analytics.average')
              %strong= agg[:average]

  - when 'quiz'
    %h3= t('admin.gamepatch.analytics.quiz_results')
    - @aggregations.each do |agg|
      .batch-table__wrapper
        %h4
          %code= agg[:uid]
          = agg[:prompt]

        .dashboard
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.responses')
              %strong= agg[:response_count]
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.correct')
              %strong= agg[:correct_count]
          .dashboard__item
            .dashboard__quick-access{ class: agg[:accuracy] >= 50 ? 'dashboard__quick-access--yellow' : nil }
              %span= t('admin.gamepatch.analytics.accuracy')
              %strong #{agg[:accuracy]}%

        - if agg[:choice_distribution].any?
          .table-wrapper
            %table.table
              %thead
                %tr
                  %th= t('admin.gamepatch.analytics.option')
                  %th= t('admin.gamepatch.analytics.count')
                  %th= t('admin.gamepatch.analytics.percentage')
              %tbody
                - agg[:choice_distribution].each do |choice|
                  %tr
                    %td= choice[:text]
                    %td= choice[:count]
                    %td #{choice[:percentage]}%

  - when 'ranking'
    %h3= t('admin.gamepatch.analytics.rankings')
    - @aggregations.each do |agg|
      .batch-table__wrapper
        %h4
          %code= agg[:uid]
          = agg[:prompt]

        .dashboard
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.responses')
              %strong= agg[:response_count]

        .table-wrapper
          %table.table
            %thead
              %tr
                %th= t('admin.gamepatch.analytics.avg_position')
                %th= t('admin.gamepatch.analytics.option')
            %tbody
              - agg[:average_positions].each do |pos|
                %tr
                  %td
                    %strong= pos[:average_position]
                  %td= pos[:text]

  - else
    %h3= t('admin.gamepatch.analytics.choice_distribution')
    - @aggregations.each do |agg|
      .batch-table__wrapper
        %h4
          %code= agg[:uid]
          = agg[:prompt]

        .dashboard
          .dashboard__item
            .dashboard__quick-access
              %span= t('admin.gamepatch.analytics.responses')
              %strong= agg[:response_count]

        - if agg[:choice_distribution].any?
          .table-wrapper
            %table.table
              %thead
                %tr
                  %th= t('admin.gamepatch.analytics.option')
                  %th= t('admin.gamepatch.analytics.count')
                  %th= t('admin.gamepatch.analytics.percentage')
              %tbody
                - agg[:choice_distribution].each do |choice|
                  %tr
                    %td= choice[:text]
                    %td= choice[:count]
                    %td #{choice[:percentage]}%
