- content_for :page_title do
  = t('admin.gamepatch.analytics.widgets_title')

- content_for :heading_actions do
  = form_tag admin_gamepatch_widgets_analytics_index_path, method: :get, class: 'simple_form' do
    .fields-row
      .fields-row__column
        = date_field_tag :start_date, params[:start_date] || 30.days.ago.to_date
      .fields-row__column
        = date_field_tag :end_date, params[:end_date] || Date.current
      .fields-row__column
        = select_tag :widget_type, options_for_select(
          [[t('admin.gamepatch.analytics.all_types'), '']] + ::Gamepatch::Widget::TYPES.map { |t| [t, t] },
          params[:widget_type]
        )
      .fields-row__column
        = button_tag t('admin.gamepatch.analytics.filter'), type: 'submit', class: 'button'

- if @widget_stats.empty?
  %p.hint= t('admin.gamepatch.analytics.no_widgets')
- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('admin.gamepatch.widgets.uid')
          %th= t('admin.gamepatch.widgets.type')
          %th= t('admin.gamepatch.widgets.prompt')
          %th= t('admin.gamepatch.analytics.impressions')
          %th= t('admin.gamepatch.analytics.responses')
          %th= t('admin.gamepatch.analytics.response_rate')
          %th
      %tbody
        - @widget_stats.each do |stat|
          %tr
            %td
              %code= stat[:widget].uid
            %td= stat[:widget].widget_type
            %td= truncate(stat[:widget].prompt, length: 40)
            %td= stat[:impressions]
            %td= stat[:responses]
            %td
              %span{ class: stat[:response_rate] > 50 ? 'positive-hint' : (stat[:response_rate] > 20 ? nil : 'negative-hint') }
                = "#{stat[:response_rate]}%"
            %td
              = link_to t('admin.gamepatch.analytics.view'), "/gamepatch/w/#{stat[:widget].uid}", target: '_blank', class: 'button button-secondary'
