- content_for :page_title do
  = t('admin.gamepatch.scenarios.title')

.simple_form
  %h3= t('admin.gamepatch.scenarios.save_current')
  = form_tag admin_gamepatch_scenarios_path, method: :post, class: 'simple_form' do
    .fields-row
      .fields-row__column.fields-row__column-6
        .input.string.required
          = text_field_tag :name, nil, placeholder: t('admin.gamepatch.scenarios.name_placeholder')
      .fields-row__column.fields-row__column-6
        .actions
          = button_tag t('admin.gamepatch.scenarios.save'), type: 'submit', class: 'button'

%hr.spacer

%h3= t('admin.gamepatch.scenarios.saved_scenarios')

- if @scenarios.empty?
  %p.hint= t('admin.gamepatch.scenarios.no_scenarios')
- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('admin.gamepatch.scenarios.name')
          %th= t('admin.gamepatch.scenarios.file')
          %th= t('admin.gamepatch.scenarios.size')
          %th= t('admin.gamepatch.scenarios.created')
          %th
      %tbody
        - @scenarios.each do |scenario|
          %tr
            %td= scenario['name']
            %td
              %code= File.basename(scenario['file'] || '')
            %td= number_to_human_size(scenario['size'] || 0)
            %td= scenario['created_at']
            %td
              .table-action-link
                = button_to t('admin.gamepatch.scenarios.load'), admin_gamepatch_load_scenario_path(scenario['name']), method: :post, class: 'button', data: { confirm: t('admin.gamepatch.scenarios.load_confirm') }
                = button_to t('admin.gamepatch.scenarios.delete'), admin_gamepatch_scenario_path(scenario['name']), method: :delete, class: 'button button--destructive', data: { confirm: t('admin.gamepatch.scenarios.delete_confirm') }
