- content_for :page_title do
  = t('admin.gamepatch.imports.title')

.simple_form
  %h3= t('admin.gamepatch.imports.csv_import')
  = form_tag admin_gamepatch_csv_imports_path, multipart: true, class: 'simple_form' do
    .fields-group
      .input.file.required
        = label_tag :file, t('admin.gamepatch.imports.file')
        = file_field_tag :file, accept: '.csv', class: 'file-input'

    .fields-group
      .input.radio_buttons
        = label_tag nil, t('admin.gamepatch.imports.mode')
        .radio-buttons-group
          %label.radio
            = radio_button_tag :mode, 'fast', true
            = t('admin.gamepatch.imports.mode_fast')
          %label.radio
            = radio_button_tag :mode, 'safe'
            = t('admin.gamepatch.imports.mode_safe')

    .actions
      = button_tag t('admin.gamepatch.imports.upload_csv'), type: 'submit', class: 'button'

%hr.spacer

.simple_form
  %h3= t('admin.gamepatch.imports.sheet_import')
  = form_tag admin_gamepatch_sheet_imports_path, class: 'simple_form' do
    .fields-group
      .input.string.required
        = label_tag :url, t('admin.gamepatch.imports.sheet_url')
        = text_field_tag :url, nil, placeholder: 'https://docs.google.com/spreadsheets/d/.../edit#gid=...'

    .fields-group
      .input.radio_buttons
        = label_tag nil, t('admin.gamepatch.imports.mode')
        .radio-buttons-group
          %label.radio
            = radio_button_tag :mode, 'fast', true
            = t('admin.gamepatch.imports.mode_fast')
          %label.radio
            = radio_button_tag :mode, 'safe'
            = t('admin.gamepatch.imports.mode_safe')

    .actions
      = button_tag t('admin.gamepatch.imports.import_sheet'), type: 'submit', class: 'button'

%hr.spacer

.simple_form
  %h3= t('admin.gamepatch.imports.dialogue_import')
  = form_tag admin_gamepatch_dialogue_imports_path, multipart: true, class: 'simple_form' do
    .fields-group
      .input.file.required
        = label_tag :file, t('admin.gamepatch.imports.dialogue_file')
        = file_field_tag :file, accept: '.yaml,.yml,.json,.md,.csv', class: 'file-input'

    .fields-group
      .input.string.required
        = label_tag :account_id, t('admin.gamepatch.imports.account_id')
        = number_field_tag :account_id, nil, placeholder: t('admin.gamepatch.imports.account_id_hint')

    .actions
      = button_tag t('admin.gamepatch.imports.import_dialogue'), type: 'submit', class: 'button'

%hr.spacer

%h3= t('admin.gamepatch.imports.templates')
%p.hint= t('admin.gamepatch.imports.templates_hint')

.actions
  = link_to t('admin.gamepatch.imports.csv_template'), admin_gamepatch_templates_imports_path(format: :csv), class: 'button button-secondary'
  = link_to t('admin.gamepatch.imports.yaml_template'), admin_gamepatch_templates_imports_path(format: :yaml), class: 'button button-secondary'

%hr.spacer

%h3= t('admin.gamepatch.imports.history')

- if @import_logs.empty?
  %p.hint= t('admin.gamepatch.imports.no_imports')
- else
  .table-wrapper
    %table.table
      %thead
        %tr
          %th= t('admin.gamepatch.imports.type')
          %th= t('admin.gamepatch.imports.source')
          %th= t('admin.gamepatch.imports.mode')
          %th= t('admin.gamepatch.imports.status')
          %th= t('admin.gamepatch.imports.success')
          %th= t('admin.gamepatch.imports.errors')
          %th= t('admin.gamepatch.imports.duration')
          %th= t('admin.gamepatch.imports.date')
      %tbody
        - @import_logs.each do |log|
          %tr
            %td= log.import_type
            %td= truncate(log.source_name, length: 30)
            %td= log.mode
            %td
              %span.indicator-icon{ class: log.status == 'completed' ? 'success' : (log.status == 'failed' ? 'failure' : nil) }
                = material_symbol(log.status == 'completed' ? 'check' : (log.status == 'failed' ? 'close' : 'pending'))
              = log.status
            %td= log.success_count
            %td= log.error_count
            %td= log.duration ? "#{log.duration}s" : '-'
            %td= l(log.created_at)
