- content_for :page_title do
  = t('admin.gamepatch.config.title')

= form_tag admin_gamepatch_config_path, method: :patch, class: 'simple_form' do
  %h3= t('admin.gamepatch.config.general')

  .fields-group
    .input.string
      = label_tag :domain, t('admin.gamepatch.config.domain')
      = text_field_tag :domain, @config['domain'], placeholder: 'localhost:3000'
      %p.hint= t('admin.gamepatch.config.domain_hint')

  .fields-group
    .input.select
      = label_tag :default_import_mode, t('admin.gamepatch.config.default_import_mode')
      = select_tag :default_import_mode, options_for_select([
        [t('admin.gamepatch.imports.mode_fast'), 'fast'],
        [t('admin.gamepatch.imports.mode_safe'), 'safe']
      ], @config['default_import_mode'])
      %p.hint= t('admin.gamepatch.config.default_import_mode_hint')

  %hr.spacer

  %h3= t('admin.gamepatch.config.storage')

  .fields-group
    .input.string
      = label_tag :scenario_backup_dir, t('admin.gamepatch.config.scenario_backup_dir')
      = text_field_tag :scenario_backup_dir, @config['scenario_backup_dir']
      %p.hint= t('admin.gamepatch.config.scenario_backup_dir_hint')

  .fields-group
    .input.integer
      = label_tag :max_import_records, t('admin.gamepatch.config.max_import_records')
      = number_field_tag :max_import_records, @config['max_import_records'], min: 100, max: 100000
      %p.hint= t('admin.gamepatch.config.max_import_records_hint')

  %hr.spacer

  %h3= t('admin.gamepatch.config.analytics_settings')

  .fields-group
    %label.checkbox
      = check_box_tag :track_impressions, 'true', @config['track_impressions'] == 'true'
      = t('admin.gamepatch.config.track_impressions')
    %p.hint= t('admin.gamepatch.config.track_impressions_hint')

  .fields-group
    %label.checkbox
      = check_box_tag :anonymous_responses, 'true', @config['anonymous_responses'] == 'true'
      = t('admin.gamepatch.config.anonymous_responses')
    %p.hint= t('admin.gamepatch.config.anonymous_responses_hint')

  .actions
    = button_tag t('generic.save_changes'), type: 'submit', class: 'button'
